
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand {
    max-width: 25px;
}




  
/* Dark mode */
body {
    background-color: #ffffff;
    color: #212529;
}

.main-content {
    background: transparent;
    min-height: calc(100vh - 60px - 75px);
}

html.dark-mode body {
    background-color: #121212;
    color: #e0e0e0;
}


    html.dark-mode .navbar,
    html.dark-mode .footer {
        background-color: #1f1f1f !important;
        color: #aaa;
    }

    html.dark-mode .card,
    html.dark-mode .table,
    html.dark-mode .form-control {
        background-color: #1e1e1e;
        color: #e0e0e0;
    }

        html.dark-mode .table th,
        html.dark-mode .table td {
            border-color: #2c2c2c;
        }

    html.dark-mode .btn-outline-secondary {
        color: #e0e0e0;
        border-color: #e0e0e0;
    }

/* Navbar text in dark mode */
    html.dark-mode .navbar-brand,
    html.dark-mode .nav-link,
    html.dark-mode .navbar-text {
        color: #e0e0e0 !important;
    }

            html.dark-mode .nav-link:hover {
            color: #ffffff !important;
        }



/* Hover Lift Effect */
.dashboard-card {
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

    .dashboard-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }


.table-hover tbody tr:hover {
    background-color: rgba(255,255,255,0.05);
    cursor: pointer;
}


/* Light Mode Gradient */
html body{
    background: linear-gradient(
        180deg,
    #f5f6f8 0%,
    #BABABA 100%);
}

/* Dark Mode Gradient*/
    html.dark-mode body {
        background: linear-gradient( 
            180deg,
        #0f0f0f 0%,
        #292929 50%,
        #1b1b1b 100%);
    }


/* Card Polish */
    .card body {
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}